%h2 Our Goals
%p
  We will seek out the highest
  %strong quality food
  available.  By coordinating our purchases in this consumers' cooperative, we are aiming to
  %strong reduce our environmental impact
  and purchase our food at a
  %strong reduced price.

%h2 How We Get There
%p
  As a cooperative purchasing a fixed set of products, we harness our collective buying power.  This provides leverage to get great pricing from our vendors.  To help reduce our impact on our planet and to continue great relationships with those that grow our food, we will seek to find local vendors. 
%p
  In the co-op spirit, each of us will donate some of our time and effort to help make this a success for everyone.

%h2 How can I sign up?
%p
  To sign up for the
  %strong TJ's Gym Food Cooperative,
  you can
  = link_to "sign up right here.", signup_path
  You should hear back from a co-op member within a day or so to confirm your membership.  Once you're signed up you'll be able to deposit money into your coop account and begin making purchases.
%p
  If you are looking to create your own co-op, we can help with that too.  The software and processes that we use to manage this co-op are all free and open source.  This web application that manages our products, vendors, orders and member accounts is called
  = link_to "cooper", "http://github.com/briandoll/cooper/tree/master"
  and was written by one of our members,
  = link_to "Brian Doll.", "http://emphaticsolutions.com/"
  To learn how we use
  = link_to "cooper", "http://github.com/briandoll/cooper/tree/master"
  and other tools to manage this co-op, check out the
  = link_to "cooper wiki", "http://wiki.github.com/briandoll/cooper"
  , or
  = link_to "email Brian directly.", "mailto:brian@emphaticsolutions.com"