!!! Strict
%html
  %head
    %title 
      = SITE_TITLE
    = stylesheet_link_tag "application"
    = javascript_include_tag :defaults
  %body
    %div#wrapper
      %div#header
        %h1
          = SITE_TITLE
        %h2
          = SITE_SUBTITLE
    %div#content
      %div#colOne
        - flash.each do |key, msg| 
          = content_tag :div, msg, :class => ["flash_", key], :id => "notice_#{key}"
        = yield
      %div#colTwo
        = render :partial => "categories/category_list"
        = render :partial => "users/user_menu"
        = render :partial => "admin/admin_menu"
      %div#footer
        %p
          Powered by 
          %a{:href=>"http://github.com/briandoll/cooper/tree/master"}cooper,
          an emphatic solution by
          %a{:href=>"http://emphaticsolutions.com/"}
            Brian Doll